#header .section {
  background-image: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#page #header {
  background-color: #064209;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: #143805;
  font-size: 15px;
  text-align: left;
  border-top-width: 0px;
  text-decoration: none;
}

a img {
  background-image: url(/sites/default/files/sweaver/sweaver_image_3.jpeg);
}

